@import '../../../assets/variables.scss';
.score {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $space-5;
    &__id {
        font-size: .75rem;
        color: $gray-darker;
    }
    &__input.big-input {
        width: 120px;
        font-size: 1.125rem;
        font-weight: 500;
        background-color: #fff;
    }
}