@import '../assets/variables.scss';

.big-input {
    background-color: $gray;
    border: 1px solid $gray-dark;
    border-radius: $radius;
    font-weight: 500;
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
    color: $gray-dark;
}
:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: $gray-dark;
}
::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: $gray-dark;
}
:-ms-input-placeholder {
    text-align: center;
    color: $gray-dark;
}