<div class="player">
  <div #hiddenTopContainer class="player__hidden-top-container"></div>

  <div #topContainer class="player__top-container">
    <div class="player__name-container">
      <input class="big-input player__name"
        type="text"
        [(ngModel)]="player.name" 
        placeholder="Player {{player.id}}">
      <button *ngIf="player.id> 2"
        class="pure-button pure-button-primary
        player__delete-btn"
        (click)="deletePlayer.emit(player.id)">x</button>
    </div>

    <input class="big-input player__remaining-score"
      [ngClass]="{'win': isWinner, 'negative-score': remainingScore <0}"
      type="text"
      [(ngModel)]="isWinner ? winnerTxt : remainingScore" disabled>
  </div>

  <app-score *ngFor="let score of player.scores; let id= index"
    [value]="value"
    [id]="id + 1" 
    [playerId]="player.id"
    (changeInput)="onScoreInputChange($event)"
    (focusOnNextInput)="focusOnNextScoreInput($event)"></app-score>
</div>