<div class="player">
    <div class="player__inner-container">
        <div class="player__name-container">
            <input class="big-input player__name" type="text" [(ngModel)]="player.name" placeholder="Player {{player.name || player.id}}">
            <div class="player__delete-btn">x</div>
        </div>

        <input class="big-input player__remaining-score" [ngClass]="{'win': remainingScore === winnerTxt, 'negative-score': remainingScore < 0}" type="text" [(ngModel)]="remainingScore" disabled>

        <app-score *ngFor="let score of player.scores; let id = index" [value]="value" [id]="id + 1" (updateScore)="updatePlayerScore($event)"></app-score>
    </div>
</div>