<div class="game-start">
  <div class="game-start__inner-container">
    <img src="assets/img/logo.svg" alt="Logo" width="150">

    <input #gameScoreInput class="big-input game-start__game-score"
      type="number"
      [(ngModel)]="gameScore"
      placeholder="Insert Points"
      (keyup.enter)="init()"
      (keyup)="onGameScoreChange()">

    <button class="pure-button pure-button-primary game-start__btn"
      [ngClass]="{'game-start__btn--reset': !startGame}"
      [disabled]="!gameScore || gameScore <= 0"
      (click)="init()">{{ btnTxt }}</button>
  </div>
</div>