@import '../../assets/variables.scss';
.game-start {
    display: flex;
    justify-content: center;
    &__inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__game-point {
        background-color: $gray;
        border: 1px solid $gray-dark;
        border-radius: 4px;
        font-size: 1.875rem;
        font-weight: 500;
        width: 350px;
    }
    ::-webkit-input-placeholder {
        text-align: center;
        color: $gray-dark;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
        color: $gray-dark;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
        color: $gray-dark;
    }
    :-ms-input-placeholder {
        text-align: center;
        color: $gray-dark;
    }
}